<div class="img_one"> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 <div class="core-message-content">
    <div class="main-messesage">
        <h3>Las cosas para que salgan bien hay que prepararlas</h3>
    </div><br/>
    <div class="image-main-message">

    <%= image_tag("caile/reuniones.jpg", size: '750x300') %>
        
    </div><br/>

    <div class="main-messesage">
        <h3>Tus invitados lo agradecerán</h3>
    </div>
 </div>

    
</div>
<div class="entry">
  <!-- <button class="button">Empezar Evento</button> -->
   <% if user_signed_in? %>
     <%= link_to 'Empezar Evento', events_new_path, class: "button" %> 
   <% else %> 
    <%= link_to 'Empezar Evento', entries_index_path, class: "button" %>
   <% end %>
</div>

